nav {
    display: flex;
    padding: 0 22px;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

nav div{
    /* background-color: pink; */
    height: 70px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* STYLING FOR FORM */

.card {
    background-color: white;
    border: 1px solid black;
    border-radius: .5rem;
    padding: .5rem;
    max-width: 600px;
    display: none;
}

.form-group{
    display: flex;
    flex-direction: column;
    gap: .25rem;
    margin-bottom: .5rem;
    gap: .25rem;
}

.form-group > label {
    font-weight: bold;
    font-size: .8em;
    color:#333;
}

.form-group:last-child{
    mar
}

.form-group > input {
    border: 1px solid #333;
    border-radius: .25em;
    font-size: 1rem;
}


.card.active {
    display: block;
}