nav {
    display: flex;
    padding: 0 22px;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

nav div{
    /* background-color: pink; */
    height: 70px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

.logo_div{
    width: 150px;
}

nav div span{
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: large;
}