<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Make an Incident Report</title>
</head>
<body>
    <h1>Make an Incident Report</h1>
    <label for="Name" class="form-label">Password</label>
    <input type="text" id="Name" class="form-control">
    <div id="MoreInfo" class="form-text">
    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
    </div>
   
</body>
</html>

