{%extends 'background.html'%}

{%block content%}
    <form class="data-multi-step">
        <div class="card" data-step></div>
        <div class="card" data-step></div>
        <div class="card" data-step>
            <button type="submit">Submit</button>
        </div>
        
        <!-- <h3>Tell us about the Incident </h3>
        <label for=“Address”>The site I work at is</label>
        <input type="text" id="Address" name="name" placeholder="Address">
        <label for=“Time_started”>The time the incident started is</label>
        <input type="Text" id="Time_started" placeholder="Ex. 6:24PM">
        <label for=“Time_ended”>The time the incident ended is</label>
        <input type="Text" id="Time_ended" placeholder="Ex. 3:24AM">
        <label for=“date_incident”>The date of the incident was </label>
        <input type="date" id="date_incident"> -->
        
    </form>
{%endblock%}