{%extends 'background.html'%}

{%block content%}
    
    <div class="for_bubbles" circles>
        <div id="circle1" class="circle" circle></div>
        <div id="circle2" class="circle" circle></div>
        <div id="circle3" class="circle" circle></div>
        <div id="circle4" class="circle" circle></div>
        <div id="circle5" class="circle" circle></div>
        <div id="circle6" class="circle" circle></div>
    </div>
    
    <form data-multi-step class="my_form">
        <div class="card" data-step>
            <h3>Tell us about the incident</h3>
            <div class="form-group">
                <label for="address">The incident happened at</label>
                <input type="text" name="address" id="address" placeholder="Ex. 14 Downsview Avenue">
            </div>
            <div class="form-group">
                <label for="urgency">On a scale of urgency how would you rank the event? </label>
                <select name="urgency">
                    <option value="low_urgency">Low Urgency</option>
                    <option value="medium_urgency">Medium Urgency</option>
                    <option value="high_urgency">High Urgency</option>
                </select>
            </div>
             <div class="form-group">
                <label for="date">The incident occured on</label>
                <input type="date" name="date" id="date">
            </div>
            <button type="button" data-next>Next</button>
        </div>
        <div class="card" data-step>
            <h3>Tell Us More</h3>
            <div class="form-group">
                <label for="start_time">What time did the incident start</label>
                <input type="time" name="start_time" id="start_time">
            </div>
            <div class="form-group" id="resolved_div">
                <label for="resolved">Has the incident been resolved?</label>
                 <div id="resolved_incident">
                    <input class="resolved_yes" type="radio" name="resolved" id="resolved_yes" value="yes" resolved-yes>
                    <label for="resolved_yes" class="yes_no" id="yes">Yes</label>
                    <input class="radio" type="radio" name="resolved" id="resolved_no" value="no">
                    <label for="resolved_no" class="yes_no" id="no">No</label>
                </div>
            </div>
             <div class="form-group do_not_show" id="resolved_other">
                <label for="time_resolved">What time was the incident resolved?</label>
                <input type="time" name="time_resolved" id="time_resolved">
            </div>
            <button type="button" data-previous>Previous</button>
            <button type="button" data-next>Next</button>
        </div>
        <div class="card" data-step>
            <h3>Who was involved</h3>
            <div class="form-group" id="involved_div">
                <label for="people_involved">How many people were involved (excluding you)</label>
                <select name="people" id="people_involved">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4+</option>
                </select>
            </div>
            <div class="form-group witness_div" form-witness id="form_wit">
                <div class="person_1 do_not_show" witness-step id="reference_1">
                    <label  for="person_1_name">What is the first person's name?</label>
                    <input  type="text" name="person_1_name" id="person_1_name" placeholder="Ex. Jerry Goldberg">

                    <label for="person_1_type">The first person is a</label>
                    <select  name="person_1_type">
                        <option value="resident">Resident</option>
                        <option value="staff">Staff</option>
                        <option value="contractor">Contractor</option>
                        <option value="other">Other</option>
                    </select>

                    <label  for="person_1_contact">Please include their phone number or email if you have it</label>
                    <input  type="text" name="person_1_contact" id="person_1_contact">
                </div>
                <div class="person_2 do_not_show" witness-step id="reference_2">
                    <label  for="person_2_name">What is the second person's name?</label>
                    <input  type="text" name="person_2_name" id="person_2_name" placeholder="Ex. Jerry Goldberg">
                    
                    <label  for="person_2_type">The second person is a</label>
                    <select  name="person_2_type">
                        <option value="resident">Resident</option>
                        <option value="staff">Staff</option>
                        <option value="contractor">Contractor</option>
                        <option value="other">Other</option>
                    </select>

                    <label  for="person_2_contact">Please include their phone number or email if you have it</label>
                    <input  type="text" name="person_2_contact" id="person_2_contact">
                </div>
                <div class="person_3 do_not_show" witness-step id="reference_3">
                    <label  for="person_3_name">What is the third person's name?</label>
                    <input  type="text" name="person_2_name" id="person_2_name" placeholder="Ex. Jerry Goldberg">
                    
                    <label  for="person_3_type">The third person is a</label>
                    <select  name="person_3_type">
                        <option value="resident">Resident</option>
                        <option value="staff">Staff</option>
                        <option value="contractor">Contractor</option>
                        <option value="other">Other</option>
                    </select>

                    <label  for="person_3_contact">Please include their phone number or email if you have it</label>
                    <input  type="text" name="person_3_contact" id="person_3_contact">
                </div>
            </div>
            <button type="button" data-previous>Previous</button>
            <button type="button" data-next>Next</button>
        </div>
        <div class="card" data-step>
            <h3>Tell Us What Happened</h3>
            <div class="form-group">
                <label for="event_description">Please describe what happened</label>
                <input type="text" name="event_description" id="event_description">
            </div>
            <button type="button" data-previous>Previous</button>
            <button type="button" data-next>Next</button>
        </div>
        <div class="card" data-step>
            <h3>Did any of the following arrive?</h3>
            <div class="form-group">
                <input type="checkbox" id="fireAlarm" name="fireAlarm" value="Fire Alarm">
                <label for="fireAlarm">Fire department</label><br>
                <input type="checkbox" id="medicalIssue" name="medicalIssue" value="Medical Issue">
                <label for="medicalIssue">Emergency Medical Services</label><br>
                <input type="checkbox" id="equipmentMalfunction" name="equipmentMalfunction" value="Equipment Malfunction or Entrapment">
                <label for="equipmentMalfunction">Police Department Services </label><br>
                <input type="checkbox" id="civilDisturbance" name="civilDisturbance" value="Civil Disturbance">
                <label for="civilDisturbance">Contractor(s)/Trade(s)</label><br>
                <input type="checkbox" id="chemicalSpill" name="chemicalSpill" value="Chemical Spill">
                <label for="chemicalSpill">Other</label><br>
            </div>
            <button type="button" data-previous>Previous</button>
            <button type="button" data-next>Next</button>
        </div>
        <div class="card" data-step>
            <h3>Tell us about yourself</h3>
            <div class="form-group">
                <label for="full_name">My full name is</label>
                <input type="text" name="full_name" id="full_name">
            </div>
            <div class="form-group">
                <label for="email">My email is</label>
                <input type="email" name="" id="email">
            </div>
             <div class="form-group">
                <label for="phone_num">Randomness</label>
                <input type="text" name="phone_num" id="phone_num">
            </div>
            <button type="button" data-previous>Previous</button>
            <button type="submit">Submit</button>
        </div>
        
        <!-- <h3>Tell us about the Incident </h3>
        <label for=“Address”>The site I work at is</label>
        <input type="text" id="Address" name="name" placeholder="Address">
        <label for=“Time_started”>The time the incident started is</label>
        <input type="Text" id="Time_started" placeholder="Ex. 6:24PM">
        <label for=“Time_ended”>The time the incident ended is</label>
        <input type="Text" id="Time_ended" placeholder="Ex. 3:24AM">
        <label for=“date_incident”>The date of the incident was </label>
        <input type="date" id="date_incident"> -->
        
    </form>
{%endblock%}