{%extends 'background.html'%}

{%block content%}
    
    <div class="for_bubbles" circles>
        <div id="circle1" class="circle" circle></div>
        <div id="circle2" class="circle" circle></div>
        <div id="circle3" class="circle" circle></div>
        <div id="circle4" class="circle" circle></div>
        <div id="circle5" class="circle" circle></div>
        <div id="circle6" class="circle" circle></div>
        <div id="circle7" class="circle" circle></div>
        <div id="circle8" class="circle" circle></div>
    </div>
    
    <form data-multi-step class="my_form" method="POST">
        <div class="card" data-step>
            <h3>Tell us about the incident</h3>
            <div class="form-group">
                <label for="address">The incident happened at</label>
                <input type="text" name="address" id="address" placeholder="Ex. 14 Downsview Avenue">
            </div>
            <div class="form-group">
                <label for="urgency">On a scale of urgency how would you rank the event? </label>
                <select name="urgency">
                    <option value="low_urgency">Low Urgency</option>
                    <option value="medium_urgency">Medium Urgency</option>
                    <option value="high_urgency">High Urgency</option>
                </select>
            </div>
             <div class="form-group">
                <label for="date">The incident occured on</label>
                <input type="date" name="date" id="date">
            </div>
            <button type="button" data-next>Next</button>
        </div>
        <div class="card" data-step>
            <h3>Tell Us More</h3>
            <div class="form-group">
                <label for="start_time">What time did the incident start</label>
                <input type="time" name="start_time" id="start_time">
            </div>
            <div class="form-group" id="resolved_div">
                <label for="resolved">Has the incident been resolved?</label>
                 <div id="resolved_incident">
                    <input class="resolved_yes" type="radio" name="resolved" id="resolved_yes" value="yes" resolved-yes>
                    <label for="resolved_yes" class="yes_no" id="yes">Yes</label>
                    <input class="radio" type="radio" name="resolved" id="resolved_no" value="no">
                    <label for="resolved_no" class="yes_no" id="no">No</label>
                </div>
            </div>
             <div class="form-group do_not_show" id="resolved_other">
                <label for="time_resolved">What time was the incident resolved?</label>
                <input type="time" name="time_resolved" id="time_resolved">
            </div>
            <button type="button" data-previous>Previous</button>
            <button type="button" data-next>Next</button>
        </div>
        <div class="card" data-step>
            <h3>Who was involved</h3>
            <div class="form-group" id="involved_div">
                <label for="people_involved">How many people were involved (excluding you)</label>
                <select name="people" id="people_involved">
                    <option value=0>0</option>
                    <option value=1>1</option>
                    <option value=2>2</option>
                    <option value=3>3</option>
                    <option value=4>4+</option>
                </select>
            </div>
            <div class="form-group witness_div" form-witness id="form_wit">
                <div class="person_1 do_not_show" witness-step id="reference_1">
                    <label  for="person_1_name">What is the first person's name?</label>
                    <input  type="text" name="person_1_name" id="person_1_name" placeholder="Ex. Jerry Goldberg">

                    <label for="person_1_type">The first person is a</label>
                    <select  name="person_1_type">
                        <option value="resident">Resident</option>
                        <option value="staff">Staff</option>
                        <option value="contractor">Contractor</option>
                        <option value="other">Other</option>
                    </select>
                    <label  for="person_1_contact">Please include any additional information about the first person such as injuries, symptoms, or statements made by the person</label>
                    <textarea class="extra" id="person_1_additional" name="person_1_extra" rows="4" cols="50"></textarea>

                    <label class="contact_wit"  for="person_1_contact">Please include their phone number or email if you have it</label>
                    <input  type="text" name="person_1_contact" id="person_1_contact">
                </div>
                <div class="person_2 do_not_show" witness-step id="reference_2">
                    <label  for="person_2_name">What is the second person's name?</label>
                    <input  type="text" name="person_2_name" id="person_2_name" placeholder="Ex. Jerry Goldberg">
                    
                    <label  for="person_2_type">The second person is a</label>
                    <select  name="person_2_type">
                        <option value="resident">Resident</option>
                        <option value="staff">Staff</option>
                        <option value="contractor">Contractor</option>
                        <option value="other">Other</option>
                    </select>
                    <label  for="person_2_contact">Please include any additional information about the second person such as injuries, symptoms, or statements made by the person</label>
                    <textarea class="extra" id="person_2_additional" name="person_2_extra" rows="4" cols="50"></textarea>

                    <label class="contact_wit"  for="person_2_contact">Please include their phone number or email if you have it</label>
                    <input  type="text" name="person_2_contact" id="person_2_contact">
                </div>
                <div class="person_3 do_not_show" witness-step id="reference_3">
                    <label  for="person_3_name">What is the third person's name?</label>
                    <input  type="text" name="person_2_name" id="person_2_name" placeholder="Ex. Jerry Goldberg">
                    
                    <label  for="person_3_type">The third person is a</label>
                    <select  name="person_3_type">
                        <option value="resident">Resident</option>
                        <option value="staff">Staff</option>
                        <option value="contractor">Contractor</option>
                        <option value="other">Other</option>
                    </select>

                    <label  for="person_3_contact">Please include any additional information about the third person such as injuries, symptoms, or statements made by the person</label>
                    <textarea class="extra" id="person_3_additional" name="person_3_extra" rows="4" cols="50"></textarea>

                    <label class="contact_wit"  for="person_3_contact">Please include their phone number or email if you have it</label>
                    <input  type="text" name="person_3_contact" id="person_3_contact">
                    
                </div>
            </div>
            <button type="button" data-previous>Previous</button>
            <button type="button" data-next>Next</button>
        </div>
        <div class="card" data-step>
            <h3>Tell Us What Happened</h3>
            <div class="form-group">
                <label for="event_description">Please describe what happened and your response in as much detail as possible</label>
                <textarea id="event_description" name="event_description" rows="7" cols="50"></textarea>
            </div>
            <button type="button" data-previous>Previous</button>
            <button type="button" data-next>Next</button>
        </div>
        <div id="happen_card" class="card" data-step>
            <h3>Did any of the following happen?</h3>
            <div class="form_group" service_d>
                <input name="happened" type="checkbox" id="fire_Alarm" value="Fire Alarm" inp>
                <label class="arrivals"  for="fire_Alarm" id="fire_label" lab>Fire Alarm</label>
                <input name="happened" type="checkbox" id="medical_incident" value="medical" inp>
                <label class="arrivals"  for="medical_incident" id="medical_label" lab>Medical Incident</label>
                <input name="happened" type="checkbox" id="chemical_spill" value="chemical_spill" inp>
                <label class="arrivals"  for="chemical_spill" id="chemical_spill_label" lab>Chemical Spill</label>
                <input name="happened" type="checkbox" id="power_failure" value="power_failure" inp>
                <label class="arrivals"  for="power_failure" id="power_failure_label" lab>Power Failure</label>
                <input name="happened" type="checkbox" id="slip_fall" value="slip_fall" inp>
                <label class="arrivals"  for="slip_fall" id="slipe_fall_label" lab>Slip and Fall</label>
                <input name="happened" type="checkbox" id="Water_damage_flood" value="Water_damage_flood" inp>
                <label class="arrivals"  for="Water_damage_flood" id="water_damage_label" lab>Water Damage & Flood</label>
                <input name="happened" type="checkbox" id="elevator_malfunction_entrapment" value="elevator_malfunction_entrapment" inp>
                <label class="arrivals"  for="elevator_malfunction_entrapment" id="elevator_mal_label" lab>Elevator Issue</label>
                <input name="happened" type="checkbox" id="civil_disturbance" value="civil_disturbance" inp>
                <label class="arrivals"  for="civil_disturbance" id="civil_disturbance_label" lab>Civil disturbance</label>
                <input name="happened" type="checkbox" id="Bomb_suspicious_package" value="Bomb_suspicious_package" inp>
                <label class="arrivals"  for="Bomb_suspicious_package" id="bomb_suspicious_package_label" lab>Bomb Threat</label>
                <input name="happened" type="checkbox" id="natural_gas_leak" value="natural_gas_leak" inp>
                <label class="arrivals"  for="natural_gas_leak" id="gas_leak_label" lab>Natural Gas Leak</label>
            </div>
            <button type="button" data-previous>Previous</button>
            <button type="button" data-next>Next</button>
        </div>
        <div id="arrival_card" class="card" data-step>
            <h3>Did any of the following arrive?</h3>
            <div class="form-group arrival_div" service_div>
                <input name="arrived" type="checkbox" id="the_fireAlarm" value="Fire Alarm" input>
                <label class="arrivals"  for="the_fireAlarm" id="fire_label" label>Fire department</label>
                <input name="arrived" type="checkbox" id="medicalIssue" name="medicalIssue" value="Medical Issue" input>
                <label class="arrivals" for="medicalIssue" label>Emergency Medical Services</label>
                <input name="arrived" type="checkbox" id="police_service" name="police_service" value="Police" input>
                <label class="arrivals" for="police_service" label>Police Department Services </label>
                <input name="arrived" type="checkbox" id="contractor_trade" name="contractor_trade" value="contractor_trade" input>
                <label class="arrivals" for="contractor_trade" label>Contractor(s)/Trade(s)</label>
                <input name="arrived" type="checkbox" id="other_arrival" name="other_arrival" value="other" input>
                <label class="arrivals" for="other_arrival" label>Other</label> 
                <!-- <label id="other_arrive_label" class="item_1" for="specify_other">Specify which other emergency service arrived:</label> 
                <input id="other_arrive_input" class="item_2" type="text" id="specify_other" name="specify_other"> -->
            </div>
            <button type="button" data-previous>Previous</button>
            <button type="button" data-next>Next</button>
        </div>
        <div class="card" data-step>
            <h3>Tell Us More</h3>
            <div class="form-group">
                <label for="comments">Please include any additional information that might be useful to the property manager</label>
                <textarea id="comments" name="comments" rows="7" cols="50"></textarea>
            </div>
            <button type="button" data-previous>Previous</button>
            <button type="button" data-next>Next</button>
        </div>
        <div class="card" data-step>
            <h3>Tell us about yourself</h3>
            <div class="form-group">
                <label for="full_name">My full name is</label>
                <input type="text" name="full_name" id="full_name">
            </div>
            <div class="form-group">
                <label for="contact_info">Please include your phone number or email</label>
                <input type="text" name="contact_info" id="contact_info">
            </div>
             <div class="form-group">
                <label for="pms_emails">Please include the emails of who you would like to send the report to</label>
                <input type="text" name="pms_email" id="emails_to_send_to" placeholder="email123@gmail.com email456@live.com email324@gmail.com">
            </div>
            <button type="button" data-previous>Previous</button>
            <button type="submit">Submit</button>
        </div>
        
        <!-- <h3>Tell us about the Incident </h3>
        <label for=“Address”>The site I work at is</label>
        <input type="text" id="Address" name="name" placeholder="Address">
        <label for=“Time_started”>The time the incident started is</label>
        <input type="Text" id="Time_started" placeholder="Ex. 6:24PM">
        <label for=“Time_ended”>The time the incident ended is</label>
        <input type="Text" id="Time_ended" placeholder="Ex. 3:24AM">
        <label for=“date_incident”>The date of the incident was </label>
        <input type="date" id="date_incident"> -->
        
    </form>
{%endblock%}